@import "../founds/fontawesom/all.min.css";
@import "../sytle/found.css";

:root {
    --l700: "Lato-Bold";
    --l600: "Lato-Bold-normal";
    --l400: "Lato-Regular";
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1140px;
    width: 100%;
    margin: auto;
    padding: 0 15px;

}
.header{
    
    background-image: url(../image/bg.png); 
    height: 782px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
    
}

.shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%);
    z-index: -1;
   


}

.nav{
    display: flex;
    flex-direction: column;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
   
}

.logo{
    display: flex;
    align-items: center;
    margin-top: 60px;
  
}

.logo i {
    margin-right: 10px;
    font-size: 18px;
    color: white;
}

.logo h3{
    font-size: 18px;
    line-height: 22px;
    font-family: var(--l700);
    color: white;
    text-transform: uppercase;

}

.menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 455px;
    list-style: none;
    margin-top: 60px;
   
}

.menu ul a{
    color: white;
    font-size: 14px;
    line-height: 16px;
    font-size: var(--l600);
    text-decoration: none;
    text-transform: uppercase;

}
.reg {
    margin-top: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.flag {
    height: 22px;
    width: 22px;
    margin-right: 7px;
    margin-top: 5px;
    
}
.reg a {
    margin-left: 7px;
    text-decoration: none;
    color: white;
}
#Service{
    margin-left: 7px;
    color: #000;
    margin-right: 28px;
    background: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%);
    border: none;
}

.flag_span {
    font-size: 14px;
    line-height: 17px;
    font-family: var(--l400);
  
   
}
.reg a i{
    margin-right: 22px;
}

.login {
    font-size: 14px;
    line-height: 17px;
    font-family: var(--l400);
    border: 1px solid white;
    padding: 12px 19px;
    margin-left: 22px;
    border-radius: 5px;
}

.navbar_title {
    display: flex;
    flex-direction: column;
    flex-grow: 1ft;
    height: 700px;
    justify-content: center;
    align-items: center;

}

.navbar_title h2{
    font-size: 72px;
    line-height: 86px;
    font-family: var(--l700);
    color: white;
}

.navbar_title p{
    font-size: 24px;
    line-height: 36px;
    font-family: var(--l600);
    color: white;
    width: 480px;
    margin-top: 40px;
    text-align: center;
}

.navbar_title a{
    font-size: 14px;
    line-height: 17px;
    font-family: var(--l600);
    color: #ED4C5C;
    border: 1px solid white;
    padding: 17px 53px;
    margin-top: 39px;
    text-decoration: none;
    background-color: white;
    border-radius: 6px;
    text-transform: uppercase;
}

.section_one{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 95px 0;
    
}

.easy{
    width: 445px;
    height: 107px;
    font-size: 36px;
    line-height: 43px;
    font-family: var(--l600);
    color: black;


}

.our{
    width: 445px;
    font-size: 14px;
    line-height: 20px;
    font-family: var(--l400);
    color: #000;
    margin-top: 25px;
    margin-bottom: 8px;
}
.section_one_link{
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    color: #ED4C5C;
    font-family: var(--l400);

}

.video_bg{
    width: 445px;
    height: 311px;
}
.section_one_right i{
    font-size: 18px;
    border: 1px solid #ED4C5C;
    border-radius: 50%;
    padding: 24px;
    background: #ED4C5C;
    color: white;
    position: absolute;
    left: -30px;
    top: 120px;
    z-index: 1;

 }
.section_one_right{
     position: relative;
     z-index: -1;
 }

.section_two{

    padding: 63px 0 124px 0;
    background: #FAFAFA;

} 

.section_two__title{
    text-align: center;
    margin-bottom: 63px;
    font-size: 36px;
    line-height: 43px;
    font-family: var(--l600);
    color: #000;
}



.section_two_img img{
    width: 350px;
    height: 250px;
    
}
.section_two_img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section_two_news{
    width: 293px;
    height: 198px;
    padding: 33px 33px 25px 33px;
    background: white;
    text-align: center;
    margin-top: -90px;
    box-shadow:  0px, 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    
   }


.section_two_about{
    font-size: 18px;
    line-height: 22px;
    font-family: var(--l700);
    color: #101010;
}

.section_two_text{
    height: 57px;
    font-size: 12px;
    line-height: 18px;
    font-family: var(--l400);
    color: #101010;
    margin-top: 20px;
    margin-bottom: 5px;



}


.section_two_items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section_two_link{
    text-decoration: none;
    font-size: 12px;
    line-height: 18px;
    font-family: var(--l700);
    color:  #ED4C5C;

}

.section_three_title{
    padding: 0 0 109px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Technology{
    text-align: center;
    font-size: 36px;
    line-height: 43px;
    font-family: var(--l600);
    color: #000;
    margin-bottom: 52px;
    margin-top: 63px;
}

.section_three_items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.section_three_name{
    position: relative;
    width: 117px;
    height: 120px;
}
.section_three_name span{
    font-size: 100px;
    line-height: 120px;
    font-family: var(--l700);
    color: #10101014;
    
}
.section_three_items i{
    font-size: 50px;
    color: #ED4C5C;
    position: absolute;
    left: 35px;
    top: 70px;
   
    
}

.section_three_text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section_three_cloud{
    font-size: 18px;
    line-height: 22px;
    font-family: var(--l700);
    color: #101010;
    margin-top: 20px;
    
    
}
.section_three_access{
    font-size: 12px;
    line-height: 14px;
    font-family: var(--l400);
    color: #000;
    width: 191px;
    height: 51px;
    margin-top: 10px;
    text-align: center;
}

.section_four {
    background: #ED4C5C;
    

}
.section_four_main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 95px 0px;
    

}
.section_four_left,
.section_four_right
{
    width: 555px;
}

.section_four_left h3{
    font-size: 36px;
    line-height: 43px;
    font-family: var(--l600);
    color: white;
    width: 445px;
    height: 107px;

}
.section_four_left p {
    font-size: 14px;
    line-height: 20px;
    font-family: var(--l400);
    color: white;
    margin-top: 25px;
    margin-bottom: 45px;
    width: 445px;
}

.four_icon i{
    font-size: 28px;
    color: white;
    padding-right: 30px;
    text-decoration: none;
}

.section_four_right{
    max-width: 555px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    
}

.four_2{
    width: 383px;
    height: 267px;
    position: absolute;
    top: 20;
    left: 0;
    z-index: 2;
}

.four_1{
    width: 383px;
    height: 267px;
    position: absolute;
    top: 20;
    right: 0;
    z-index: 3;
}
.four_3{
    width: 445px;
    height: 311px;
    position: absolute;
    top: -150px;
    left: 60px;
    z-index: 4;
}

.section_five_mean{
    display: flex;
    justify-content: space-between;
}

.section_five_left,
.section_five_right{
    width: 555px;
    padding: 117px 0 78px 0;
}

.section_five_left h3{
    font-size: 36px;
    line-height: 43px;
    font-family: var(--l600);
    color: #000;
    width: 445px;
    height: 107px;
}
.section_five_left p{
    font-size: 14px;
    line-height: 20px;
    font-family: var(--l400);
    color: #000;
    width: 434px;
    height: 64px;
}

.section_five_right {
    display: flex;
    flex-wrap: wrap;

}
.text{
    width: 255px;
    height: 60px;
    font-size: 16px;
    line-height: 19px;
    font-family: var(--l400);
    color: #13274380;
    padding: 21px 0 21px 30px;
    border-radius: 6px;
    margin-bottom: 25px;

}
.text:nth-of-type(2){
    margin-left: 30px;
}
.number,
#Select{
    width: 540px;
    height: 60px;
    font-size: 16px;
    line-height: 19px;
    font-family: var(--l400);
    color: #13274380;
    padding: 21px 0 21px 30px;
    border-radius: 6px;
    margin-bottom: 25px;
    
}

.submit_2{
    font-size: 14px;
    line-height: 17px;
    font-family: var(--l400);
    background: #ED4C5C;
    padding: 17px 34px;
    border-radius: 6px;
    border: none;
    color: white;

}
.footer{
    background: #FAFAFA;

}

.section_six{
    display: flex;
    justify-content: space-between;
}

.footer_title{
    font-size: 18px;
    line-height: 22px;
    font-family: var(--l700);
    color: #000;
    margin-top: 85px;
    margin-bottom: 33px;
}

.footer_one{
    width: 254px;
}
.footer_one a{
     font-size: 12px;
    line-height: 14px;
    font-family: var(--l400);
    color: #000;
    text-decoration: none;
   
}

.footer_two li{
    list-style: none;
}

.footer_two li a{
    font-size: 12px;
    line-height: 19px;
    font-family: var(--l400);
    color: #000;
    margin-bottom: 10px;
    text-decoration: none;
    text-transform: uppercase;
}

.footer_three{
    display: flex;
    flex-direction: column;
}
.footer_three a{
    text-decoration: none;
    font-size: 12px;
    line-height: 14px;
    font-family: var(--l400);
    color: black;
    margin-bottom: 12px;
}

.footer_four img{
width: 216px;
margin-bottom: 164px;
}

.Copy{
    font-size: 12px;
    line-height: 14px;
    color: black;
    font-family: var(--l400);
    margin-bottom: 86px;
}